---
import CopyrightImage from "../components/Copyright/CopyrightImage";
import BaseLayout from "../layouts/BaseLayout.astro";

const res = await fetch(
  "https://emilyoot-com.vercel.app/api/getStripeProducts",
);
const json = await res.json();
const products = [];
for (const product of json.data) {
  const id = product.id;
  const name = product.name;
  const image = product.images[0];
  const price = product.default_price.unit_amount;
  const description = product.description;
  const priceId = product.default_price.id;
  const quantity = product.metadata?.quantity ?? 0;
  if (name && image && price && id && priceId && quantity > 0) {
    const prettyPrice = (price / 100).toLocaleString("en-US", {
      style: "currency",
      currency: "USD",
    });
    products.push({
      id,
      priceId,
      name,
      image,
      price,
      prettyPrice,
      description,
      quantity,
    });
  }
}
---

<style>
  .no-products-available {
    font-size: 16px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 60px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1140px;
    max-width: calc(100dvw - 20px);
    padding: 10px;
  }

  a.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    max-width: calc((100dvw - 20px) / 2 - 20px);
    transition: opacity 300ms;
    text-decoration: none;
    color: #7a7a7a;
  }

  .product:hover {
    opacity: 0.8;
  }

  .image {
    max-height: 500px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }

  .name {
    font-size: 16px;
    margin-top: 5px;
  }

  .price {
    font-size: 16px;
    margin-top: 5px;
  }
</style>

<BaseLayout>
  {
    products.length === 0 && (
      <div class="no-products-available">
        Nothing is available at this time.
      </div>
    )
  }
  <div class="products">
    {
      products.map((product) => {
        return (
          <a href={`/shop/${product.id}`} class="product">
            <CopyrightImage
              client:load
              className="image"
              src={product.image}
              alt={`${product.name} by Emily Oot`}
            />
            <div class="name">{product.name}</div>
            <div class="price">{product.prettyPrice}</div>
          </a>
        );
      })
    }
  </div>
</BaseLayout>
