---
const title = "Emily Oot";
const description =
  "Emily is an artist living and working as an Illustrator and Print Designer in New York City. Emily's playful and delicate work draws inspiration from nature, femininity, and life's little moments of nostalgia.";

const canonicalUrl = "https://www.emilyoot.com" + Astro.url.pathname;

const openGraphUrl = "https://www.emilyoot.com";
const defaultOpenGraphImageUrl = "https://www.emilyoot.com/open_graph_image.jpg";

const { noIndex, openGraphImageUrl = defaultOpenGraphImageUrl } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {
    noIndex ? (
      <meta name="robots" content="noindex, noai, noimageai" />
    ) : (
      <meta name="robots" content="index, follow, noai, noimageai" />
    )
  }
  <link rel="canonical" href={canonicalUrl} />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
    rel="stylesheet"
  />

  <!-- Title -->
  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Favicon -->
  <link href="/logo_16x16.jpg" rel="icon" sizes="16x16" />
  <link href="/logo_32x32.jpg" rel="icon" sizes="32x32" />
  <link href="/logo_96x96.jpg" rel="icon" sizes="96x96" />
  <link href="/logo_192x192.jpg" rel="icon" sizes="192x192" />

  <!-- Open graph -->
  <meta property="og:site_name" content={title} />
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={openGraphUrl} />
  <meta property="og:image" content={openGraphImageUrl} />
  <meta property="og:image:width" content="1600" />
  <meta property="og:image:height" content="1600" />
  <meta property="og:description" content={description} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
</head>
